body{
    margin: 5em;   
}
/*.prueba{
    height: 34em;
    width: 22em;
    background-color:yellowgreen ;
    z-index: 1;
}*/
.general{
    background-color:#e9102a;
    height: 34.5em;
    width: 22.5em;    
    border-radius: 3% 3% 18% 3%;
    z-index: 999;
}

.parteSuperior{
    height: 17.5em;
    width: 20em;
    position: absolute;
    left: 6.25em;
    top: 7em;
    background-color: #3e4137;
    /*background-image: radial-gradient(circle at 25.79% 50%, #5f7074 0, #5e686a 16.67%, #5d6060 33.33%, #5b5757 50%, #594e4f 66.67%, #564649 83.33%, #533e45 100%);*/
    border-radius: 3% 3% 18% 3%;
}
.dentroPantalla{
    height: 12.5em;
    width: 14.5em;
    background-color: #AE9B32;
    position: absolute;
    left: 3em;
    top: 2em;
    border-radius: 3% 3% 3% 3%;
    

}
.etiquetaGame{
    font-family: Calibri;
    color: white;
    font-weight: bold;
    position: absolute;
    left:3em;
    top: 14.05em;
    font-size: 110%;
}
.rotula{
    background: white;
    color: rgb(44, 43, 41);
}
.encendido{
    background-color: rgb(248, 123, 123);
    height: 0.5em;
    width: 0.5em;
    border-radius: 100%;
    position: absolute;
    top: 12em;
    left: 6.60em;
       
}
.parentesis{
    color: white;
    font-weight: bold;
    font-size: 100%;
    position: absolute;
    top: -0.40em;
    left: 0.9em;
    
}
.power{
    color: white;
    font-size: 60%;
    position: absolute;
    top: 1.5em;
    left: 0.1em;

}
.cruz1{
    background-color: rgb(44, 42, 42);
    
    height: 4.5em;
    width: 1.5em;
    position: absolute;
    top: 27.5em;
    left: 9em;
    z-index: 500;
    border-radius: 10%;

}
.cruz2{
    background-color:rgb(44, 42, 42);
    height: 1.5em;
    width: 4.5em;
    position: absolute;
    top: 29em;
    left: 7.5em;
    z-index: 501;
    border-radius: 10%;
}
.cruz3{
    /*background-color: rgb(37, 35, 35);*/
    background-image: radial-gradient(circle at 25.79% 50%, #313a3c 0, #303334 16.67%, #2f2c2c 33.33%, #2d2424 50%, #2a1c1e 66.67%, #281519 83.33%, #250d15 100%);
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    top: 29em;
    left: 9em;
    border-radius: 100%;
    z-index: 502;
}
.cruz4{
    background-color: rgb(20, 20, 20);
    height: 4.85em;
    width: 1.75em;
    position: absolute;
    top: 27.32em;
    left: 8.85em;
    z-index: 1;
    border-radius: 10%;
}
.cruz5{
    background-color: rgb(20, 20, 20);
    height: 1.75em;
    width: 4.85em;
    position: absolute;
    top: 28.85em;
    left: 7.32em;
    z-index: 1;
    border-radius: 10%;
}
  


.boton1{
    background-color: rgb(44, 42, 42);
    height: 2.5em;
    width: 2.5em;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 50%;
    position: absolute;
    top: 27em;
    left: 23em;
    z-index: 300;

}
.letraA{
    position: absolute;
    top: 3.2em;
    left: 1.3em;
    font-size: 90%;
    font-family:fantasy;
}
.boton2{
    background-color: rgb(44, 42, 42);
    height: 2.5em;
    width: 2.5em;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 50%;
    position: absolute;
    top: 28.5em;
    left: 19em;
    z-index: 300;
}
.letraB{
    position: absolute;
    top: 3.2em;
    left: 1.1em;
    font-size: 90%;
    font-family:fantasy;

}
.boton3{
    background-color: black;
    height: 2.75em;
    width: 2.75em;
    border-radius: 50%;
    position:absolute;
    top: 26.88em;
    left: 22.88em;
    z-index: 1;
}
.boton4{
    background-color: black;
    height: 2.75em;
    width: 2.75em;
    border-radius: 50%;
    position:absolute;
    top: 28.38em;
    left: 18.88em;
    z-index: 1;

}
.botonSelect{
    background-color: rgb(44, 42, 42);
    height: 1em;
    width: 3em;
    position: absolute;
    top: 34em;
    left: 12em;

}
.select{


}
.botonStart1{
    background-color: rgb(44, 42, 42);
    height: 1em;
    width: 1em;
    position: absolute;
    top: 34em;
    left: 16em;
    border-radius: 100%;
    z-index: 50;

}
.botonStart1Sombra{
    background-color: black;
    height: 1.2em;
    width: 1.2em;
    position: absolute;
    top: 33.9em;
    left: 15.9em;
    border-radius: 100%;
    z-index: 1;

}
.botonStart2{
    background-color: rgb(44, 42, 42);
    height: 1em;
    width: 2em;
    position: absolute;
    top: 34em;
    left: 16.45em;
    
    z-index: 50;

}
.botonStart2Sombra{
    background-color: black;
    height: 1.21em;
    width: 2em;
    position: absolute;
    top: 33.90em;
    left: 16.6em;
    
    z-index: 1;

}
.start{
    position: absolute;
    top: 1.5em;
    left: 0em;
    font-size: 100%;
    font-family:fantasy;
}

.botonStart3{
    background-color: rgb(44, 42, 42);
    height: 1em;
    width: 1em;
    position: absolute;
    top: 34em;
    left: 18em;
    border-radius: 100%;
    z-index: 50;

}
.botonStart3Sombra{
    background-color: black;
    height: 1.2em;
    width: 1.2em;
    position: absolute;
    top: 33.9em;
    left: 17.9em;
    border-radius: 100%;
    z-index: 1;

}
.botonSelect1{
    background-color: rgb(44, 42, 42);
    height: 1em;
    width: 1em;
    position: absolute;
    top: 34em;
    left: 12.5em;
    border-radius: 100%;
    z-index: 50;

}
.botonSelect1Sombra{
    background-color: black;
    height: 1.2em;
    width: 1.2em;
    position: absolute;
    top: 33.9em;
    left: 14.4em;
    border-radius: 100%;
    z-index: 1;
}
.botonSelect2{
    background-color: rgb(44, 42, 42);
    height: 1em;
    width: 2em;
    position: absolute;
    top: 34em;
    left: 13em;
    
    z-index: 50;

}
.botonSelect2Sombra{
    background-color: black;
    height: 1.21em;
    width: 2em;
    position: absolute;
    top: 33.90em;
    left: 13em;
    
    z-index: 1;

}
.select{
    position: absolute;
    top: 1.5em;
    left: -0.35em;
    font-size: 100%;
    font-family:fantasy;
}

.botonSelect3{
    background-color: rgb(44, 42, 42);
    height: 1em;
    width: 1em;
    position: absolute;
    top: 34em;
    left: 14.5em;
    border-radius: 100%;
    z-index: 50;

}
.botonSelect3Sombra{
    background-color: black;
    height: 1.2em;
    width: 1.2em;
    position: absolute;
    top: 33.9em;
    left: 12.4em;
    border-radius: 100%;
    z-index: 1;

}
.a3{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 34em;
    left: 22em;

}
.a4{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 34em;
    left: 22.7em;

}
.a5{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 34em;
    left: 23.4em;

}
.a6{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 34em;
    left: 24.1em;

}
.a7{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 34em;
    left: 24.8em;

}
.b2{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 34.7em;
    left: 21.3em;

}
.b3{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 34.7em;
    left: 22em;

}
.b4{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 34.7em;
    left: 22.7em;

}
.b5{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 34.7em;
    left: 23.4em;

}
.b6{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 34.7em;
    left: 24.1em;

}
.b7{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 34.7em;
    left: 24.8em;

}
.c1{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 35.4em;
    left: 20.6em;

}
.c2{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 35.4em;
    left: 21.3em;

}
.c3{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 35.4em;
    left: 22em;

}
.c4{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 35.4em;
    left: 22.7em;

}
.c5{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 35.4em;
    left: 23.4em;

}
.c6{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 35.4em;
    left: 24.1em;

}
.c7{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 35.4em;
    left: 24.8em;

}
.d1{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 36.1em;
    left: 20.6em;

}
.d2{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 36.1em;
    left: 21.3em;

}
.d3{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 36.1em;
    left: 22em;

}
.d4{
    background-color:#f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 36.1em;
    left: 22.7em;

}
.d5{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 36.1em;
    left: 23.4em;

}
.d6{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 36.1em;
    left: 24.1em;

}
.d7{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 36.1em;
    left: 24.8em;

}
.e1{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 36.8em;
    left: 20.6em;

}
.e2{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 36.8em;
    left: 21.3em;

}
.e3{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 36.8em;
    left: 22em;

}
.e4{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 36.8em;
    left: 22.7em;

}
.e5{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 36.8em;
    left: 23.4em;

}
.e6{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 36.8em;
    left: 24.1em;

}
.e7{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 36.8em;
    left: 24.8em;

}
.f1{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 37.5em;
    left: 20.6em;

}
.f2{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 37.5em;
    left: 21.3em;

}
.f3{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 37.5em;
    left: 22em;

}
.f4{
    background-color:#f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 37.5em;
    left: 22.7em;

}
.f5{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 37.5em;
    left: 23.4em;

}  
.f6{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 37.5em;
    left: 24.1em;

}
.g1{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 38.2em;
    left: 20.6em;

}
.g2{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 38.2em;
    left: 21.3em;

}
.g3{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 38.2em;
    left: 22em;

}
.g4{
    background-color: black;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 38.2em;
    left: 22.7em;

}
.g5{
    background-color: #f74053;
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 38.2em;
    left: 23.4em;

}


